.t-img{
    width: 500px;
}

.UM1-img{
    width: 500px;
}

.BT1-img{  
    width: 500px;
}

.BA1-img{  
    width: 500px;
}

.AE1-img{  
    width: 500px;
}

.NE1-img{  
    width: 500px;
}

.TY1-img{  
    width: 500px;
}

.Armies-img{  
    width: 500px;
}

img{
    max-width: 100%;
}

table {
    width: 100%;
}

